// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-body {
  text-align: center;
  width: 70%;
  margin: auto;
}

.landing h1 {
  text-align: left;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 15px;
  font-family: 'Knewave', cursive;
  text-transform: uppercase;
}

.landing-img {
  background-size: cover;
  height: 550px;
  background-image: url(https://i.imgur.com/QIQhCuz.jpg);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  z-index: -2;
}

.white {
  text-align: justify;
}

h3 {
  font-size: 3em;
  margin-bottom: 0;
  font-family: 'Knewave', cursive;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 19px;
  font-weight: 300;
  margin-top: 0;
  letter-spacing: 1px;
}

.banana {
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  background-image: url(https://imgur.com/wfvpVkV.png);
}

.hand {
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  background-image: url(https://i.imgur.com/AWFI9W7.png);
}

.wand {
  background-repeat: no-repeat;
  /*background-size: contain;*/
  /*width: 700px;*/
  height: 600px;
  /*background-position: left bottom;*/
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-image: url(https://i.imgur.com/HEODJqc.png);
}

#youll-never-guess h1 {
  margin-top: 0;
}

#youll-never-guess p {
  text-align: justify;
  margin: 0 2em;
}

#submit-idea {
  padding-top: 5em;
}

textarea, input {
  /*width: 60%;*/
  height: 3em;
  font-size: 1em;
  border: 3px solid #ccc;
}

.catcha {
  background: red;
  width: 500px !important;
}

#submit-idea h5 {
  margin: 0;
  margin-top: 1em;
}

.submit-response h3 {
  color: #1abc9c;
  margin: 0;
}

.captcha {
  display: inline-block;
  margin: 1em;
}

.simple_captcha_refresh_button a {
  text-decoration: none;
  color: #1abc9c;
}




@media (max-device-width : 736px) { /*IPHONE 6*/
 /*(max-width : 736px){ /*NON-IPHONE*/

  h1 {
    font-size: 5em;
  }

  #youll-never-guess p {
    font-size: 2em;
    margin: 0 1em;
  }

  h3 {
    font-size: 4em;
  }

   h5 {
     font-size: 3em;
   }

  textarea, input {
    width: 90%;
    height: 2em;
    font-size: 5em;
    border: 3px solid #ccc;
  }

   input {
     padding: 0em;
   }

  input[type='submit'] {
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 1em !important;
    height: 3em;
    background: #1abc9c;
  }



  .simple_captcha{border: 1px solid #ccc; padding: 5px !important;}
  .simple_captcha,
  .simple_captcha div{display: table;}
  .simple_captcha .simple_captcha_field,
  .simple_captcha .simple_captcha_image{
    border: 2px solid #ccc;
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
    width: 100% !important;
  }

  .simple_captcha
  .simple_captcha
  .simple_captcha_field input {
    width: 100% !important;
    font-size: 4em;
    border: none;
    background-color: #efefef;
  }

  .simple_captcha_image img {
    width: 70%;
  }

  .simple_captcha_label h3 {
    font-size: 3em;
  }

  .simple_captcha_refresh_button a {
    font-size: 4em;
  }

}
