<!DOCTYPE html>
<html>
  <head>
    <title>Coy Toy Box</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Lato|Open+Sans|Playfair+Display|Raleway' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Knewave:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <header>
    <div class='inner-header'>
      <div class='header-title'>
        <a href='/'>COY TOY BOX</a>
      </div>
      <li>
        <a href='/'>HOME</a>
      </li>
      <li>
        <a href='#about'>ABOUT</a>
      </li>
      <li>
        <a href='#how'>HOW</a>
      </li>
      <li>
        <div class='contact-border'>
          <a href='#submit'>SUBMIT</a>
        </div>
      </li>
    </div>
  </header>

  <body>

    <%= yield %>

  </body>
</html>
